* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    background-color: hsl(216, 12%, 8%);
    display: grid;
    place-content: center;
    height: 100vh;
}

body * {
    color: var(--text-color);
    font-family: 'Overpass', sans-serif;
    line-height: 100%;
}

.container {
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(-45deg,
            hsl(216, 12%, 8%) 0%,
            hsl(213, 19%, 18%) 100%);
    padding: 20px;
    border-radius: 20px;
}

.star-img {
    padding: 10px;
    background: linear-gradient(45deg,
            hsl(213, 19%, 18%) 30%,
            hsl(216, 12%, 8%) 100%);
    width: fit-content;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}

.component-title {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
}

.component-desc {
    color: hsl(216, 12%, 54%);
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
}

fieldset {
    border: none;
}

.hidden {
    display: none;
}

.rating-container {
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

input[type="radio"] {
    appearance: none;
    width: 0;
}

input[type="radio"]+label {
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid hsl(216, 12%, 54%);
    background: hsl(216, 12%, 54%);
    color: hsl(213, 19%, 18%);
    cursor: pointer;
}

input[type="radio"]+label:hover {
    border: 1px solid hsl(25, 97%, 53%);
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

input[type="radio"]:checked+label {
    border: 1px solid hsl(25, 97%, 53%);
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.rating-input .rating-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.rating-submit button {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 0.81rem 2rem;
    border-radius: 1.88rem;
    background: hsl(25, 97%, 53%);
    cursor: pointer;
    border: none;
    margin-top: 25px;
    margin-bottom:15px;
}

.rating-submit button:hover {
    background: hsl(0, 0%, 100%);
    transition: all ease 0.5s;
}




/* THANKS AREA */

.thanks-area {
    width: 380px;
    height: auto;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg,
            hsl(216, 12%, 8%) 0%,
            hsl(213, 19%, 18%) 100%);
    padding: 20px;
    border-radius: 20px;
}

.thanks-area img {
    margin-top:20px;
    margin-bottom:30px;
}

.selected-rating {
    font-size:12px;
    font-weight: 700;
    color:hsl(25, 97%, 53%);
    padding:10px;
    background: hsl(215, 18%, 26%);
    border:1px solid hsl(216, 12%, 54%);
    border-radius:15px;
    margin-bottom:20px;
}
.thanks {
    color:hsl(0, 0%, 100%);
    font-size:30px;
}
.thanks-desc {
    color: hsl(216, 12%, 54%);
    font-size: 15px;
    margin-top: 20px;
    line-height: 30px;
}