* {
    box-sizing: border-box;
    font-family: 'Overpass';
    font-weight: 700;
}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(218, 21%, 25%);
    padding: 25px;
    border-radius: 20px;
}

.rating-area {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.icon-star {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    cursor: pointer;
}

.icon-star img {
    width: 15px;
    height: 15px;
}

.question {
    padding-top: 10px;
    font-size: 20px;
    color: hsl(0, 0%, 100%)
}

.question-desc {
    color: hsl(217, 12%, 63%);
    font-weight: 400;
}

.question,
.question-desc,
.button {
    margin-top: 10px;
    margin-bottom: 15px;
}

.rating-buttons {
    margin-top:20px;
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
}
.options {
    margin-bottom:15px;
    margin-left: -35px;
    display: flex;
    justify-content: space-between;
}

.option {
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
    border-radius: 50%;
    color:hsl(213, 19%, 18%);
    background-color: hsl(217, 12%, 63%);
    cursor:pointer;
}
.option:hover {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.button {
    display: inline-block;
    width:100%;
    padding:10px;
    border:none;
    border-radius: 20px;
    color:hsl(0, 0%, 100%);
    background-color:hsl(25, 97%, 53%)
}
.button:hover {
    color: hsl(25, 97%, 53%);
    background-color: #fff;
    font-weight: 700;
}

/* THANKS AREA */


.thanks-area {
    display: none;
    align-items: center;
    flex-direction: column;
    padding-bottom:20px;
}

.photo-area {
    margin-top:25px;
}

.count-selecteds {
    color: hsl(25, 97%, 53%);
    opacity: 0.8;
    font-size: 13px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.title-thanks {
    font-size: 19px;
    color: #fff;
}

.desc-thanks {
    color: hsl(216, 19%, 85%);
    font-size: 13px;
    line-height: 20px;
    padding:20px;
}

.desc-thanks,
.title-thanks,
.count-selecteds {
    margin-top: 20px;
}

/* OPÇOES SELECIONADAS */


.selected {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    opacity: 1;
}
